@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cyber Defense Home";
}
<link href="~/CSS/Index.css" rel="stylesheet" />
<div class="row" id="partialnav">
    <div class="col-md-12" id="navblock">
        <ul class="nav nav-tabs">
            <li><a href="~/Cyber/Index">Home</a></li>
            <li><a href="~/Cyber/Resources">Resources</a></li>
            <li><a href="~/Cyber/Event">Event</a></li>
            <li><a href="~/Cyber/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div id="subbody">
        <h3>Mission Statement</h3>
        <p>
            Cyber Defense Team is a division of the ACM Club at Augusta University
            where we learn and train on current cyber tactics.
        </p>
        <!--Add relevant data about the divison-->
    </div>
</div>
<div class="row container">
    <h2>Meet the captains!</h2>
    <div class="col-md-3" id="teamCaptain">
        <div style="text-align:center">
            <p id="captainBox">
                <img src="" alt="Vinny Thomas" height="200" width="150" /><br> <!--TODO: Add a link to an image of Vinny-->
                Captain of Cyber Defense Division<br>Vinny Thomas
            </p>
        </div>
    </div>
</div>
<div class="row container">
    <h2>Team Members</h2>
    <div class="col-md-3" id="teamMembers">
        <div style="text-align:center">
            <p id="memberBox">
                Member 1
                <br>Member 2
                <br>Member 3
                <br>Member 4
            </p>
        </div>
    </div>
    <div class="col-md-3" id="teamMembers">
        <div style="text-align:center">
            <p id="memberBox">
                Member 1
                <br>Member 2
                <br>Member 3
                <br>Member 4
            </p>
        </div>
    </div>
    <div class="col-md-3" id="teamMembers">
        <div style="text-align:center">
            <p id="memberBox">
                Member 1
                <br>Member 2
                <br>Member 3
                <br>Member 4
            </p>
        </div>
    </div>
</div>
