<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/Index.css" rel="stylesheet" />
<html>

<body>
    <div>
        <div class="row" id="partialnav">
            <div class="col-md-12" id="subnav">
                <ul class="nav nav-tabs">
                    <!--add appropriate links to your division-->
                    <li><a href="~/GameDev/Index">Home</a></li>
                    <li><a href="~/GameDev/Resources">Resources</a></li>
                    <li><a href="~/GameDev/Event">Event</a></li>
                    <li><a href="~/GameDev/Agenda">Agenda</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
