@{
    ViewBag.Title = "Game Development Agenda";
}


<!-- Articles -->
<div class="row container">
    <div class="col-lg-12" style="background-color: rgba(0, 51, 89, 0.71); background-image: url(../../Images/bluecentergradient.jpg); text-align:center; padding:25px; border-radius:25px 60px 25px 60px; border:1px solid #eee; color:white; margin:5px; position:relative;">
        <h3 style="text-decoration:underline;">Title of Article</h3>
        <p>Article</p>
    </div>
</div>