@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Programming Team";
}
<link href="~/CSS/Index.css" rel="stylesheet" />
<div class="row" id="partialnav">
    <div class="col-md-12" id="subnav">
        <ul class="nav nav-tabs"> <!--add appropriate links to your division-->
            <li><a href="~/Programming/Index">Home</a></li>
            <li><a href="~/Programming/Resources">Resources</a></li>
            <li><a href="~/Programming/Event">Events</a></li>
            <li><a href="~/Programming/Agenda">Agenda</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div id="subbody">
        <h3>Mission Statement</h3>
        <p>
            Programming Team is a divsion to study programming. Here, we will explore various programming languages as a team and
            further develop our skill set. We also will compete in several programming competitions. No skill level is required so
            do not be afraid to come and learn with us
        </p>
        <!--Add relevant data about the divison-->
    </div>
</div>
<div class="row container">
    <h2>Meet the captains!</h2>
    <div class="col-md-3" id="teamCaptain">
        <div style="text-align:center">
            <p id="captainBox">
                <img src="" alt="Aaron Chestnut" height="200" width="150" /><br> <!--TODO: Add a link to an image of Aaron-->
                Captain of Programming Division<br>Aaron Chestnut
            </p>
        </div>
    </div>
</div>
<div class="row container">
    <h2>Team Members</h2>
    <div class="col-md-3" id="teamMembers">
        <div style="text-align:center">
            <p id="memberBox">
                Member 1
                <br>Member 2
                <br>Member 3
                <br>Member 4
            </p>
        </div>
    </div>
    <div class="col-md-3" id="teamMembers">
        <div style="text-align:center">
            <p id="memberBox">
                Member 1
                <br>Member 2
                <br>Member 3
                <br>Member 4
            </p>
        </div>
    </div>
    <div class="col-md-3" id="teamMembers">
        <div style="text-align:center">
            <p id="memberBox">
                Member 1
                <br>Member 2
                <br>Member 3
                <br>Member 4
            </p>
        </div>
    </div>
</div>
