
<link href="~/CSS/Index.css" rel="stylesheet" />
<html>

<body>
    <div class="row">
        <div class="col-md-12" id="subnav">
            <ul class="nav nav-tabs">
                <!--add appropriate links to your division-->
                <li><a href="~/WebDev/Index">Home</a></li>
                <li><a href="~/WebDev/Resources">Resources</a></li>
                <li><a href="~/WebDev/Event">Events</a></li>
                <li><a href="~/WebDev/Agenda">Agenda</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
