@{
    ViewBag.Title = "Web Development Events";
}


<div class="row">
    <div class="col-md-12">
        <h3>Events</h3>
        <ul>
            <li><a href="~/Resources/Meeting Minutes for Friday July 14th.docx">Most Recent Meeting's Minutes (July 14th, 2017)</a></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
        <iframe src="https://calendar.google.com/calendar/embed?src=trueleo1%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
